# Ignore environment files
.env
*.env

# Ignore log files
*.log

# Ignore virtual environments
*venv/
*ENV/



# Ignore node modules
*/node_modules/

# Ignore VS Code settings
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Jupyter
.ipynb_checkpoints/

# Virtual Envs
.env
.venv
venv/
ENV/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data
*.csv
*.xlsx
*.h5
*.pkl

# Logs
*.log

# Outputs
notebooks_output/
